/* You can add global styles to this file, and also import other style files */

*{
  background-color: rgb(41, 39, 39);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
